server {
  listen 80;
  charset utf-8;
  root /var/www/tripbase/current/frontend/build/;

  server_name tripbase.risentveber.ru;
  location /api/ {
    proxy_pass http://unix:/var/www/tripbase/shared/tmp/sockets/puma.sock;
  }
  location /apidoc/ {
    alias /var/www/tripbase/current/apidoc/;
    try_files $uri.html $uri $uri/ /index.html;
  }
  gzip on;
  gzip_disable "msie6";
  gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript application/javascript;

  location / {
    default_type "text/html";
    try_files $uri.html $uri $uri/ /index.html;
  }
}