<h3><%= @user.name %> welcome to Tripbase!</h3>

<p>
  Your confirmation url is
  <%= link_to "link", "http://#{Rails.env.production? ? 'tripbase.risentveber.ru' : 'tripbase.dev'}/confirmations/#{@user.confirmation_hash}/" %>
</p>

<b>Best regards, Tripbase team.</b>
